<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Calculadora</title>
	</head>
  <body>
		<div id="div"></div>
		Numero 1 <input type="text" name="campo1" id="campo1" required><br>
		Numero 2 <input type="text" name="campo2" id="campo2" required><br>

		Operacion
		<select name="operacion" id="operacion">
			<option value="suma">suma</option>
			<option value="resta">resta</option>
			<option value="dividir">dividir</option>
			<option value="multiplicar">multiplicar</option>
		</select><br>

		<button type="button" id="botonCalcular">Calcular</button>
		<div id="resultado"></div>

	</body>
</html>
